<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCustomer</servlet-name>
        <servlet-class>LoginCustomerpack.LoginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>AdminLogin.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSideTableUpdate</servlet-name>
        <servlet-class>AdminLogin.AdminSideTableUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTable</servlet-name>
        <servlet-class>AdminLogin.UpdateTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTables</servlet-name>
        <servlet-class>LoginCustomerpack.getTables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewTable</servlet-name>
        <servlet-class>AdminLogin.AddNewTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCustomer</servlet-name>
        <url-pattern>/LoginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSideTableUpdate</servlet-name>
        <url-pattern>/AdminSideTableUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTable</servlet-name>
        <url-pattern>/UpdateTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTables</servlet-name>
        <url-pattern>/getTables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewTable</servlet-name>
        <url-pattern>/AddNewTable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
